/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: Helvetica;
}

body {
    background-image: url('../img/wallpaper1.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

button {
    background-color: #fdfdfd;
    color: #6600cc;
    border: 2px solid #6600cc;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #6600cc;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #6600cc;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem
}

.hide {
    display: none;
}

/* Header */
.todo-container {
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Formulário */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
    font-weight: bold;
}

/* Toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem; 
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* Lista de Tarefas */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    transition: .3s;
    margin-top: 0.5rem;
    position: relative;
    margin-bottom: 1rem
}

.todo::after {
    content: "";           
    position: absolute;    
    bottom: -0.5rem;       
    left: 0;
    width: 100%;           
    height: 1px;           
    background-color: #ccc; 
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
    word-break: break-all;
    overflow-wrap: break-word;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #8000ff;
    border-radius: 10px;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
}